<h1>Yangi kurs qo'shish</h1>
{{#if error}}
    <p class="alert">{{error}}</p>
{{/if}}
<form action="/add" method="POST" novalidate>
    <div class="input-field">
        <input id="title" name="title" type="text" class="validate" required value="{{data.title}}">
        <label for="title">Kurs nomi</label>
        <span class="helper-text" data-error="Nomini kiriting"></span>
    </div>

    <div class="input-field">
        <input id="price" name="price" type="number" class="validate" required min="1" value="{{data.price}}">
        <label for="price">Kurs narxi</label>
        <span class="helper-text" data-error="Narxini kiriting"></span>
    </div>

    <div class="input-field">
        <input id="img" name="img" type="text" class="validate" required value="{{data.img}}">
        <label for="img">Rasm URL</label>
        <span class="helper-text" data-error="Rasm URLni kiriting"></span>
    </div>
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <button class="btn btn-primary">Kurs qo'shish</button>
</form>